/* .system-container {
  width: 45%;
  margin-right: 5%;
} */

.newtask-left-container {
  display: inline-grid;
  width: 35%;
  margin-right: 5%;
}

.newtask-right-container {
  display: inline-grid;
  width: 55%;
  margin-right: 5%;
}

.system-container mat-form-field {
  width: 100%;
}

.system-container mat-form-field-wrapper * {
  width: 90%;
}

/* .newtask-left-container {
  width: 30%;
} */

.newtask-left-container div {
  display: contents;
}

.param-launch-radio :last-child {
  margin-left: 40%;
}

.param-launch mat-form-field {
  display: inline-grid;
  width: 30%;
  margin-top: 20px;
}

.param-launch h2 {
  text-align: center;
}
.param-launch-table mat-form-field{
  width: 90%;
}
.param-launch-table :first-child td{
  width: 30%;
}