<h1 mat-dialog-title></h1>
<div mat-dialog-content>
  <form [formGroup]="meForm" class="newtask-form-container">
    <div class="newtask-left-container">
      <div class="system-container">
        <mat-form-field>
          <mat-select placeholder="Среда" formControlName="environment">
            <mat-option *ngFor="let env of data.environments" [value]="env.id">{{env.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="meForm.controls.environment.invalid">Обязательно для заполнения</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Система" formControlName="system">
            <mat-option *ngFor="let system of systems" [value]="system">{{system}}</mat-option>
          </mat-select>
          <mat-error *ngIf="meForm.controls.system.invalid">Обязательно для заполнения</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Метод" formControlName="method">
            <mat-option *ngFor="let method of methodList" [value]="method.path">{{method.description}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="meForm.controls.method.invalid">Обязательно для заполнения</mat-error>
        </mat-form-field>
      </div>
      <div class="system-container param-launch" formGroupName="launch">
        <h2>Параметры запуска</h2>
        <mat-radio-group class="param-launch-radio" formControlName="type" aria-label="Параметры запуска">
          <mat-radio-button value="i">Единоразово</mat-radio-button>
          <mat-radio-button value="p">Переодически</mat-radio-button>
        </mat-radio-group>
        <table class="param-launch-table">
          <tr>
            <td>
              <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
                <input type="number" formControlName="launchCount" matInput placeholder="Запусков">
                <mat-error *ngIf="meForm.controls.launch.controls.launchCount.invalid">Должно быть число, больше 0
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input type="number" formControlName="genCount" matInput placeholder="Генераций">
                <mat-error *ngIf="meForm.controls.launch.controls.genCount.invalid">Должно быть число, больше 0
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
                <input type="number" formControlName="periodicity" matInput placeholder="Периодичность(мин)">
                <mat-error *ngIf="meForm.controls.launch.controls.periodicity.invalid">Должно быть число, больше 0
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
                <input matInput formControlName="timeStart" type="datetime-local" placeholder="Дата начала">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
                <input matInput formControlName="timeStop" type="datetime-local" placeholder="Дата окончания">
              </mat-form-field>
              <!-- <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
          <input matInput placeholder="Время начала">
        </mat-form-field>
        <mat-form-field *ngIf="meForm.controls.launch.controls.type.value === 'p'">
          <input matInput placeholder="Время окончания">
        </mat-form-field> -->
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="newtask-right-container">
      <div class="system-container">
        <fieldset *ngIf="meForm.controls['method'].value" formArrayName="methodData">
          <mat-form-field *ngFor="let item of meForm.controls['methodData'].controls; let i = index"
            [ngSwitch]="methodDataList[i].type">

            <input matInput *ngSwitchCase="'Auto'" placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
            <mat-autocomplete *ngSwitchCase="'Auto'" #auto="matAutocomplete">
              <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
                <span>{{state.name}}</span> |
                <small>Population: {{state.population}}</small>
              </mat-option>
            </mat-autocomplete>

            <mat-select *ngSwitchCase="'Array'" placeholder="{{methodDataList[i].title}}"
              [formControl]="item.controls['value']">
              <mat-option>Не определено</mat-option>
              <mat-option *ngFor="let val of methodDataList[i].values" [value]="val.value">
                {{val.text}}</mat-option>
            </mat-select>

            <mat-select *ngSwitchCase="'List'" multiple placeholder="{{methodDataList[i].title}}"
              [formControl]="item.controls['value']">
              <mat-option>Не определено</mat-option>
              <mat-option *ngFor="let val of methodDataList[i].values" [value]="val.value">
                {{val.text}}</mat-option>
            </mat-select>

            <mat-select *ngSwitchCase="'Boolean'" placeholder="{{methodDataList[i].title}}"
              [formControl]="item.controls['value']">
              <mat-option>Не определено</mat-option>
              <mat-option value="true">Да</mat-option>
              <mat-option value="false">Нет</mat-option>
            </mat-select>

            <input *ngSwitchCase="'Integer'" [formControl]="item.controls['value']" type="text" matInput
              placeholder="{{methodDataList[i].title}}">

            <input *ngSwitchCase="'BigDecimal'" [formControl]="item.controls['value']" type="text" matInput
              placeholder="{{methodDataList[i].title}}">

            <input *ngSwitchDefault matInput [formControl]="item.controls.value"
              placeholder="{{methodDataList[i].title}}">


            <!-- <mat-error *ngIf="item.controls['value'].invalid">ошибка</mat-error> -->
            <mat-error *ngIf="item.controls['value'].hasError('pattern')">Поле должно соответсвовать
              /<strong>{{methodDataList[i].regexp}}/</strong>
            </mat-error>
            <mat-error *ngIf="item.controls['value'].hasError('required')">Поле должно быть <strong>заполнено</strong>
            </mat-error>
          </mat-form-field>
        </fieldset>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">уходим</button>
  <button mat-button (click)="confirmSelection()" cdkFocusInitial>ок</button>
</div>